@mixin clesrfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin grid-column($columns, $span) {
  width: calc(
    (
        #{$span} * (#{$gutter-horizontal} + #{100%}) - #{$columns} * #{$gutter-horizontal}
      ) / #{$columns}
  );
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

// 0 - 600px       PHONE
// 600px - 900px   TABLET
// 900px - 1200px  TABLET
//[1200px - 1800px]  normal styles apply
// 1800px + :      BIG DESCTOP

// $breakpoint argument choices
// - phone
// - tab-port
// - tab-landscape
// - big-desktop

// 1em = 16px
// 37.5em = 600px
// 56.25em = 900px
// 75em = 1200px
// 112.5em = 1800px

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-landscape {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
